- meal_plans_menu << MenuLink.new('Shopping list', meal_plan_shopping_list_path(@meal_plan)) unless @meal_plan.planned_meals.empty?

= render :partial => "form", :locals => { :submit_text => 'Save this meal plan' }
