- if @meal_plans.empty?
  %h1 You don't currently have any meal plans.  
  %p Once you've started a new meal plan, you'll be able to add recipes to it.

- else
  %h1 My Meal Plans
   
  %section
    %ul
      - @meal_plans.each do |meal_plan|
        %li{:id => current_meal_plan?(meal_plan) ? "current_meal_plan" : nil}= link_to meal_plan.name, edit_meal_plan_path(meal_plan)
   
  %section
    = image_tag '/images/arrow.gif'
    Indicates your current meal plan.  You are adding recipes to this plan.