.meal_plan
  %h1= @meal_plan.name

  - @meal_plan.planned_meals.group_by(&:day).each do |day, planned_meals|
    .planned_day
      %h2= day
      %ul
        - planned_meals.each do |planned_meal|
          %li= planned_meal.recipe.name