.meal_plan
  %h2= @meal_plan.name

  - @meal_plan.planned_meals.each do |planned_meal|
    %ul
      %li.recipe
        - if planned_meal.recipe
          = planned_meal.recipe.name
        - else
          Nothing planned for the day yet
