body {
    background: #6B073B;
    color: #FFF;
    line-height: 1.4em;
    font-size: 100%;
    margin: 5px 0;
    padding: 0;
}

article {
    background: #FAFAFA;
    color: #505050;
    width: 70em;
    min-width: 750px;
    margin: auto;
    padding: 0;
}

header {
    background: #415166;
    width: 100%;
    height: 145px;
    color: #FF8D00;
    font-size: 90%;
}

#left {
    margin-right: 180px;
}

#topmenu {
    background: #3A4354;
    color: #FFF;
    height: 15px;
    padding: 2px 0px 8px 15px;
}

#topmenu a {
    color: #FFF;
}

#current_user {
    float: right;
    color: #CCC;
    padding: 2px 5px 8px 5px;
}

#authentication {
    float: right;
    background: #546078;
    width: 180px;
    height: 15px;
    color: #888;
    padding: 2px 5px 8px 5px;
}

.padding {
    padding: 20px 0px 0px 25px;
    color: #FFF;
}

#title {
    float: left;
    margin-left: 15px;
}

#title h1 {
    margin-bottom: 15px;
    padding: 20px 0px 0px 25px;
}

#title h6 {
    color: #FFF;
    font-size: 100%;
    margin: 0;
    padding: 0px 0px 0px 30px;
}

.flash {
    clear: both;
    float: right;
    color: #505050;
    font-size: 100%;
    text-align: right;
    padding: 0 15px 15px 0;
}

.message {
    border: solid 1px;
    padding: 5px 8px;
}

#flash_notice {
    background-color: #CFC;
    border-color: #6C6;
}

#flash_error {
    background-color: #FCC;
    border-color: #C66;
}

#main {
    background: #FFF;
    color: #505050;
    margin-left: 180px;
    padding: 15px 20px 15px 20px;
}

#main a {
    color: #3A4354;
}

menu {
    float: left;
    width: 180px;
    margin: 0;
    padding: 0;
}

nav {
    background: #FAFAFA;
    padding: 15px 5px 5px 5px;
}

nav h2 {
    color: #FF8D00;
    padding-left: 10px;
}

nav ul {
    clear: both;
    text-align: left;
    color:    #7D8085;
    margin: 5px 15px 20px 15px;
    padding: 5px 0 0 0;
}

nav li {
    font-weight: bold;
    margin: 0 0 8px 0;
    padding: 0 0 0 5px;
    border-bottom: 1px solid #ccc;
}

nav li a {
    color: #546078;
    text-decoration: none;
}

nav li a:hover {
    color: #F29900;
    text-decoration: none;
}

#info {
    background: #FFF url(../images/info.jpg) no-repeat;
    color: #222;
    height: 160px;
}

#info #right {
    width: 270px;
    float: right;
    padding: 10px 0px 5px 20px;
}

#info #left {
    padding: 10px 20px 5px 20px;
}

footer {
    clear: both;
    background: #546078;
    color: #FFF;
    width: 100%;
    height: 25px;
    font-size: 90%;
    text-align: center;
    padding-top: 3px;
}

footer a {
    color: #eee;
}

li.finder_ingredient {
    clear: both;
}

p {
    margin: 0 0 5px 0;
    padding: 0;
    color: #888;
    background: inherit;
}

hr {
    border: 0;
    height: 1px;
    color: #eee;
    background-color: #eee;
}

a {
    color: #FFF;
    background: inherit;
    text-decoration: none;
}

a:hover {
    background: inherit;
    text-decoration: underline;
}

h1 {
    color: #FFF;
    background: inherit;
    font-weight: bold;
    font-size: 4em;
    font-style: italic;
    font-family: "Trebuchet MS", sans-serif;
    letter-spacing: -1px;
    margin: 0;
    padding: 10px 0 10px 0;
}

h1 a {
    color: #FFF;
    background: inherit;
}

h2 {
    background-color: inherit;
    color: #FF8D00;
    font-size: 140%;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 0;
}

h2 a {
    color: #FF8D00;
}

h2 a:hover {
    color: #EE8300;
    text-decoration: none;
}

h3 {
    clear: both;
}

ul {
    margin: 5px 0 20px 15px;
    padding: 0;
    list-style: none;
}

ul li {
    list-style-type: none;
    color: #F29900;
    margin: 0 0 0px 0;
    padding: 0 0 0 0px;
}

li a {
    color: #546078;
}

li a:hover {
    color: #F29900;
}

.directions, .wmd-preview ol li {
    list-style-type: decimal;
    color: #555;
}

fieldset {
    border: 0px solid #eee;
}

textarea {
    height: 150px;
    width: 100%;
}

textarea.text {
    height: 150px;
    width: 90%;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
}

textarea.text:hover {
    border: 1px solid #eee;
    background: #FFFFF4;
    color: #000;
}

input.field {
    border: 1px solid #ccc;
    background-color: #3C3C3C;
    width: 100px;
    color: #000;
}

input.field:hover {
    border: 1px solid #eee;
    background: #ccc;
    color: #000;
}

input.text {
    margin: 0;
    width: 110px;
    border: 1px solid #546078;
    background: #FFF;
    color: #808080;
}

.ingredients th {
    text-align: left;
}

.amount input {
    width: 50px;;
}

.unit input {
    width: 70px;
}

.name input {
    width: 350px;;
}

input.text:hover {
    border: 1px solid #3A4354;
}

input.button {
    background: #FFFFF4;
    color: #808080;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.field_with_errors {
  background-color: red;
  display: table;
  padding: 2px;
}

#error_explanation {
  background-color: #F0F0F0;
  border: 2px solid red;
  width: 400px;
  margin-bottom: 20px;
  padding: 7px;
  padding-bottom: 0;
}

#error_explanation h2 {
  background-color: #c00;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  margin: -7px;
  margin-bottom: 0px;
  padding: 5px 5px 5px 15px;
}

#error_explanation ul li {
  font-size: 14px;
  list-style: square;
}

.error {
    background-color: #FFF0F0;
    color: #990000;
    border: 1px dashed #990000;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 7px;
}

.error h2 {
    color: #990000;
    background: inherit;
}

.success {
    color: #000000;
    background: #FAFAFA;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px dashed #546078;
}

.success h2 {
    color: #546078;
    background: inherit;
}

/* Ensure HTML5 elements render correctly in browsers that don't support */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
    display: block; 
}
