html {
    background: #6B073B;
    color: #FFF;
    line-height: 1.4em;
    font-size: 100%;
    margin: 5px 10px;
    padding: 0;
}

body {
    background: #FAFAFA;
    color: #505050;
    min-width: 900px;
    margin: 0;
    padding: 0;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

p {
    background: inherit;
    color: #888;
    margin: 0 0 5px 15px;
    padding: 0;
}

hr {
    background-color: #eee;
    color: #eee;
    border: 0;
    height: 1px;
}

a {
    color: #FFF;
    background: inherit;
    text-decoration: none;
}

a:hover {
    background: inherit;
    text-decoration: underline;
}

h1 {
    background-color: inherit;
    color: #FF8D00;
    font-size: 140%;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
}

h2 a {
    color: #FF8D00;
}

h2 a:hover {
    color: #EE8300;
    text-decoration: none;
}

h3 {
    margin: 10px 0;
}

ul {
    list-style: none;
    margin: 5px 0 20px 15px;
    padding: 0;
}

ul li {
    list-style-type: none;
    color: #F29900;
    margin: 0;
    padding: 0;
}

li a {
    color: #546078;
}

li a:hover {
    color: #F29900;
}

p, ol li {
    list-style-type: decimal;
    color: #555;
}

ul li div,form {
    display: inline;
}

fieldset {
    border: 0px solid #eee;
}

textarea {
    width: 100%;
    height: 150px;
}

textarea.text {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    width: 90%;
    height: 150px;
}

textarea.text:hover {
    background: #FFFFF4;
    color: #000;
    border: 1px solid #eee;
}

input.field {
    background-color: #3C3C3C;
    color: #000;
    border: 1px solid #ccc;
    width: 100px;
}

input.field:hover {
    background: #ccc;
    color: #000;
    border: 1px solid #eee;
}

input.text {
    background: #FFF;
    color: #808080;
    border: 1px solid #546078;
    width: 110px;
    margin: 0;
}

input.text:hover {
    border: 1px solid #3A4354;
}

input.button {
    background: #FFFFF4;
    color: #808080;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

th {
    text-align: left;
}

input[type=text] {
    width: 500px;;
}

header {
    background: #415166;
    width: 100%;
    height: 145px;
    color: #FF8D00;
    font-size: 90%;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
}

header a:hover {
    text-decoration: none;
}

header nav {
    float: right;
    background: #546078;
    width: 180px;
    height: 15px;
    color: #888;
    padding: 2px 5px 8px 5px;
    -moz-border-radius: 0 15px 0 0;
    border-radius: 0 15px 0 0;
}

header > section {
    margin-right: 180px;
}

header > section nav {
    float: none;
    background: #3A4354;
    color: #FFF;
    width: 100%;
    height: 15px;
    padding: 2px 0px 8px 15px;
    -moz-border-radius: 15px 0 0 0;
    border-radius: 15px 0 0 0;
}

header section nav a {
    color: #FFF;
}

header section section {
    float: right;
    color: #CCC;
    padding: 2px 5px 8px 5px;
}

hgroup {
    margin: 10px 0 0 29px;
}

hgroup h1 {
    color: #FFF;
    background: inherit;
    font-weight: bold;
    font-size: 4em;
    font-style: italic;
    font-family: "Trebuchet MS", sans-serif;
    line-height: 0.8em;
    letter-spacing: -1px;
    margin: 0;
}

hgroup h6 {
    color: #FFF;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
    padding: 10px 0 0 5px;
}

article ul {
}

article ul li {
    color: #555;
    margin-left: 20px;
}

article ul li#current_meal_plan {
    list-style-image: url('../images/arrow.gif');
}

.flash {
    clear: both;
    float: right;
    color: #505050;
    font-size: 100%;
    text-align: right;
    padding: 0 15px 15px 0;
}

.message {
    border: solid 1px;
    padding: 5px 8px;
}

#flash_notice {
    background-color: #CFC;
    border-color: #6C6;
}

#flash_alert {
    background-color: #FCC;
    border-color: #C66;
}

article {
    background: #FFF;
    color: #505050;
    margin-left: 180px;
    padding: 15px 20px 15px 20px;
}

article a {
    color: #3A4354;
}

article nav {
    float: right;
}

menu {
    float: left;
    width: 180px;
    margin: 0;
    padding: 0;
}

nav {
    padding: 15px 5px 5px 5px;
}

nav h1 {
    color: #FF8D00;
    padding-left: 10px;
}

nav ul {
    clear: both;
    text-align: left;
    color:    #7D8085;
    margin: 5px 15px 20px 15px;
    padding: 5px 0 0 0;
}

nav li, .button_to input {
    font-weight: bold;
    margin: 0 0 8px 0;
    padding: 0 0 0 5px;
    border-bottom: 1px solid #ccc;
}

.button_to input {
    margin: 0 0 0 -3px;
    padding:0;
    border:0;
    background:0;
    cursor:pointer;
    font-family: serif;
    font-size: 100%;
}

nav li a, .button_to input {
    color: #546078;
    text-decoration: none;
}

nav li a:hover, 
.button_to input:hover {
    color: #F29900;
    text-decoration: none;
}

footer {
    clear: both;
    background: #546078;
    color: #FFF;
    width: 100%;
    height: 180px;
    font-size: 90%;
    padding-top: 3px;
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
}

footer section {
    float: left;
    overflow: hidden;
    -o-text-overflow: ellipsis;    /* Opera 9-10 */
    text-overflow:    ellipsis;    /* IE, WebKit (Safari, Chrome), Opera 11 */
    white-space: nowrap;
    min-width: 200px;
    padding: 10px 30px 10px 20px;
}

footer > section:first-child {
    margin: 0 0 0 180px;
}

footer > section:last-child {
    float: right;
    text-align: right;
    width: 100%;
    padding: 10px 15px 0px 0px;
}

footer a {
    color: #eee;
}

.number input {
    width: 20px;;
}

.amount input {
    width: 50px;;
}

.unit input {
    width: 70px;
}

.field_with_errors {
  background-color: red;
  display: table;
  padding: 2px;
}

#error_explanation {
  background-color: #F0F0F0;
  border: 2px solid red;
  width: 80%;
  margin-bottom: 20px;
  padding: 7px;
  padding-bottom: 0;
}

#error_explanation h1 {
  background-color: #c00;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  margin: -7px;
  margin-bottom: 0px;
  padding: 5px 5px 5px 15px;
}

#error_explanation ul li {
  font-size: 14px;
  list-style: square;
}

.error {
    background-color: #FFF0F0;
    color: #990000;
    border: 1px dashed #990000;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 7px;
}

.error h1 {
    color: #990000;
    background: inherit;
}

/* Ensure HTML5 elements render correctly in browsers that don't support */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
    display: block; 
}
