=link_to 'New', new_ingredient_path

- if @ingredients.empty? then
  No ingredients available yet.
%table
  %tr
    %th Ingredient

  - @ingredients.each do |ingredient|
    %tr
      %td= link_to ingredient.name, edit_ingredient_path(ingredient)
