%h1 Welcome
%p We're here to help you plan meals for you and yours.  We really hope you love this site.
%p 
  = link_to "If you have an opinion on how it could be better, we'd love to hear from you.  Please submit your suggestions on the feedback forum which is available at any time through the button on the right.", 'http://ohmabel.uservoice.com/forums/81175', :class => 'contact_us'
