%h1 Welcome
%p TastyPlans.com is here to help you plan meals for you and yours.  We really hope you love this site.
%p At some point we'll charge a monthly fee, but right now we'd like to offer a limited number of free registrations.
%p
  Please use the
  = link_to t("beta.request"), new_users_beta_request_path
  link at the top of the page if you'd like to sign up.  We won't charge you for your registration.

%h1 Help us help you
%p 
  = link_to "If you have an opinion on how TastyPlans could be better, we'd love to hear from you.  Please submit your suggestions on the feedback forum which is available at any time through the \"feedback\" button on the right ---->", 'http://tastyplans.uservoice.com/forums/81175', :class => 'contact_us'
