!!! XML
!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title Mabel
    = google_jquery  

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"

    = yield

